{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<!-- About Us Intro -->
<section class="py-5" style="background-color: #fff;">
  <div class="container text-center">
    <h1>About Us</h1>
    <p style="text-align: justify;">
        Gigabot: Powering seamless interactions with prompt, precise, and personalized responses to all your Frontier queries
    </p>
  </div>
</section>

<!-- Developers Info -->
<section class="py-5" style="background-color: #fff;">
  <div class="container">
    <h2 class="text-center mb-4">Meet the Developers</h2>
    <div class="row">
      <!-- Loop through developers -->
      {% for developer in developers %}
      <div class="col-md-4 mb-3">
        <div class="card h-100 border-0 shadow-sm" style="background-color: #f2f2f2;">
          <img src="{{ developer.image }}" class="card-img-top rounded-circle mx-auto d-block" alt="{{ developer.name }}" style="width:60%; object-fit: cover;">
          <div class="card-body text-center" style="background-color: #e6e6e6;">
            <h5 class="card-title">{{ developer.name }}</h5>
            <p class="card-text">{{ developer.bio }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}


